<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <h1><%=title%></h1>
  <% for(var i = 0; i < 3; i++ ) { %>
    <% if ( i != 1 ) { %>
    <div><%=i%></div>
    <% } %>
  <% } %>
  <!-- <div>1</div>
  <div>2</div>
  <div>3</div> -->
  <a href="/blog">블로그 페이지 이동</a>
</body>
</html>