* { margin:0; padding:0 }

#box { margin:30px; width:600px; height:500px; border:5px solid #000; }
#nemo { position:relative;
	
	
	width:50px; height:50px; background:green; }
.button { margin:30px; }
button { padding:5px 15px; }

